@model ServiciosClaro.Tareas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles Tarea</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", null, new { @Class = "badge badge-danger", @Id = "Volver" })

    |

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @Class = "badge badge-primary", @Id = "Volver" })
    }
</p>
